<div class="limited">
  <br /><br />

  <table class="ui celled striped teal table">
    <thead>
      <tr>
        <th>Instructor</th>
        <th>Course</th>
        <th>A-range</th>
      </tr>
    </thead>

    <tbody>
      <% @instructors.each do |instructor| %>
        <tr>
          <td><%= instructor.name %></td>
          <td><%= instructor.course %></td>
          <td><%= instructor.range %>%</td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>

</div>
