<div class="container limited">
  <div class="text-div">
    <h1>About</h1>
    <p>
      This is a simple tool built as an overnight hack, for students to be able to view data about the grade ranges of their courses and instructors before they decide on a course.
    </p>

    <h2>Features</h2>
    <p>
      <ul>
        <li>Search over 600 listings by Instructor or Course Name.</li>
        <li>Cards that show you the highest and lowest A ranges for your search.</li>
        <li>Graph of A-range distribution for a search term</li>
        <li>Sort table by Instruuctor, Course or A-Range</li>
      </ul>
    </p>

    <h2>Technologies Used</h2>
    <p>
      <ul>
        <li>Ruby on Rails</li>
        <li>Chartkick gem for A-range distribution graph</li>
        <li>Semantic UI</li>
        <li>JQuery Tablesort</li>
      </ul>
    </p>

    <h2>Upcoming Feature</h2>
    <p>
      I plan to use Google's sentiment analysis on <a href="http://culpa.info">Culpa</a> reviews for instructor and then display that alongside the instructor A ranges.
    </p>

  </div>
</div>
