<div class="container limited">
  <div class="text-div">
    <h1>About</h1>
    <p>
      This is a simple tool built as an overnight hack, for students to be able to view data about the grade ranges of their courses and instructors before they decide on a course.
    </p>
    <h2>Features</h2>
    <p>
      <ul>
        <li>Search over 600 listings by Instructor or Course Name.</li>
        <li>Cards that show you the highest and lowest A ranges for your search.</li>
        <li>Graph of A-range distribution for a search term</li>
      </ul>
    </p>
  </div>
</div>
