<div class="container limited">
  <div class="text-div">
    <h1>About</h1>
    <p>
      This is a simple tool built as an overnight hack, for students to be able to view data about the grade ranges of their courses and instructors before they decide on a course.
    </p>

    <h2>Features</h2>
    <p>
      <ul>
        <li>Search over 600 listings by Instructor or Course Name.</li>
        <li>Cards that show you the highest and lowest A ranges for your search.</li>
        <li>Graph of A-range distribution for a search term</li>
        <li>Sort table by Instruuctor, Course or A-Range</li>
        <li>Get a positive, neutral or negative score from professor reviews on CULPA</li>
      </ul>
    </p>

    <h2>Technologies Used</h2>
    <p>
      <ul>
        <li>Ruby on Rails</li>
        <ul>
          <li>Chartkick gem for A-range distribution graph</li>
          <li>Semantic UI</li>
          <li>JQuery Tablesort</li>
          <li>... and a few others</li>
        </ul>
        <li><a href="http://culpa.info" style="color: #66CC00; background:none">CULPA API</a> for Professor Reviews</li>
        <li>This <a href="http://sentiment.vivekn.com/docs/api/" style="color: #FF3300; background:none">neat API</a> to get sentiment scores for these reviews</li>
      </ul>
    </p>

    <h2>Upcoming Feature</h2>
    <p>
      The difficulty of a College Course can be judged fairly well from <strong>reviews of the professor, their grade ranges</strong> and <em>the workload</em>.
      The next release of this web app will (hopefully) have categorized listings about the workload of the class (Easy, Medium, Hard, etc).
    </p>
    <br /><br />

  </div>
</div>
