// Place all the styles related to the about controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.text-div {
   width:70%;
   min-width: 300px;
   max-width: 900px;
   margin: 0 auto;
   padding: 20px;
   background: rgba(255, 255 ,255, 0.7);
}

.text-div h1, .text-div h2 {
	font-family: "Lato", "Helvetica Neue", Helvetica;
	font-size: 22pt;
	margin-top: 0px;
	font-weight: 100;
	color: rgba(45, 45 ,45, 1);
  border-left: 0px solid rgba(250, 100, 0, 1);
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}

.text-div p, .text-div li {
	font-family: "Lato", "Helvetica Neue", Helvetica, sans-serif;
	font-weight: 100;
	font-size: 11pt;
	margin-top: 0px;
	color: #777;
  line-height: 2em;
}
